.container {
  padding: var(--large-padding);
  gap: var(--large-padding);
  height: 100vh; /* Full viewport height */
  display: grid;
  grid-template-rows: auto 1fr; /* Header size and remaining space for the dashboard */
  overflow: hidden; /* Prevents any overflow */
}

.app-background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100dvh;
  z-index: -1;
}

.header {
  /* Styles for the header */
  background-color: var(--panel-background-color);
}

.home-background {
  background-image: url('/assets/bg-image.webp');
  background-size: cover;
  background-position: center;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(circle at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 100%);
  }
}

.content, .header {
  position: relative;
}

