<div class="card-container">
    <p-card [style]="{'max-width': '500px'}" header="Financial Dashboard">
        <p class="card-description">
            Explore the advanced features of our interactive dashboard designed to enhance your data visualization and
            analysis experience.
        </p>
        <ul class="card-features">
            <li>Feature 1: Detailed description.</li>
            <li>Feature 2: Detailed description.</li>
            <li>Feature 3: Detailed description.</li>
            <!-- Add more features as needed -->
        </ul>
        <div class="button-row">
            <p-button label="Login / Signup" routerLink="/login" class="login-button"></p-button>
        </div>
    </p-card>
</div>
