<!-- app.component.html -->
<div class="card">
    <p-menubar [model]="items">
        <ng-template pTemplate="start">
            <!-- Clickable Logo -->
            <a routerLink="/" class="logo-link">
                <!-- Logo placeholder -->
                LOGO
                <!-- <img src="logo-url" height="40" class="mr-2" /> -->
            </a>
        </ng-template>
        <ng-template pTemplate="end">
            <!-- Right-aligned elements -->
            <p-button [icon]="themeService.currentTheme() === 'light' ? 'pi pi-sun' : 'pi pi-moon'"
                      (click)="toggleTheme()"></p-button>
            <p-button icon="pi pi-user" (click)="openUserProfile()"></p-button>
        </ng-template>
    </p-menubar>
</div>

