::ng-deep {
  .p-menubar-root-list {
    z-index: 999;
  }

  .p-menubar {
    gap: var(--large-padding);
  }

  p-menubarsub {
    width: 100%;
  }

  .p-menubar .p-menubar-root-list {
    gap: var(--default-padding);
    border-radius: var(--border-radius);
  }

  .p-menuitem-text {
    padding: .25rem .5rem;
  }


  .login-button.button-small {
    width: auto;
    padding: var(--large-padding);
  }

  .logo {

  }

  .name {
    color: var(--msg-purple-clr);
  }

  .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-content .p-menuitem-link {
    padding: var(--default-padding) var(--large-padding);
    border-radius: var(--border-radius);
  }

  .p-menubar .p-menubar-custom, .p-menubar .p-menubar-end {
    margin-left: 0;
    display: flex;
    gap: var(--default-padding);
  }
}


.logo-link {
  font-size: 1.75rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: var(--default-padding);
  text-decoration: none;
  color: inherit; /* Makes the link color the same as the surrounding text */
  font-weight: bold;
  display: flex;
  align-items: center; /* Ensures proper alignment with other navbar items */
}
