<div class="login-card-wrapper">
    <p-card header="Login oder Neues Konto Anlegen" [style]="{maxWidth: '800px'}">
        <div class="login-sign-up-wrapper">
            <!-- Login Wrapper -->
            <div class="outer-login-wrapper">
                <div class="login-wrapper" [formGroup]="loginForm">
                    <div class="username">
                        <label class="input-label">Username</label>
                        <input pInputText formControlName="username" type="text" (keyup.enter)="login()"/>
                        <div class="error-message"
                             *ngIf="loginSubmitted && loginForm.controls['username'].errors?.['required']">
                            Username is required
                        </div>
                    </div>
                    <div class="password">
                        <label class="input-label">Password</label>
                        <input pInputText formControlName="password" type="password" (keyup.enter)="login()"/>
                        <div class="error-message"
                             *ngIf="loginSubmitted && loginForm.controls['password'].errors?.['required']">
                            Password is required
                        </div>
                    </div>
                    <div class="login-btn-wrapper">
                        <p-button label="Login" icon="pi pi-user" styleClass="login-button"
                                  (click)="login()"></p-button>
                    </div>
                    <div class="error-message" *ngIf="loginErrorMessage">
                        {{ loginErrorMessage }}
                    </div>
                </div>
            </div>


            <!-- Divider -->
            <div class="divider">
                <p-divider layout="vertical" styleClass="large-divider" type="solid"><b>OR</b></p-divider>
                <p-divider layout="horizontal" styleClass="small-divider" type="solid" [align]="'center'"><b>OR</b>
                </p-divider>
            </div>

            <!-- Signup Wrapper -->
            <div class="sign-up">
                <p-button label="Sign Up" icon="pi pi-user-plus" styleClass="p-button-success sign-up-button"
                          (click)="showSignupDialog()"></p-button>
            </div>
        </div>
    </p-card>
</div>


<!-- Signup Dialog -->
<p-dialog header="Neues Konto Anlegen" [(visible)]="displaySignupDialog" (close)="initSignupForm()"
          [modal]="true" [style]="{width: '50vw'}">
    <form [formGroup]="signupForm" class="signup-form">
        <!-- Vorname -->
        <label class="input-label">Vorname*</label>
        <input type="text" formControlName="firstname" pInputText/>
        <div class="error-message"
             *ngIf="registrationSubmitted && signupForm.controls['firstname'].errors?.['required']">
            Vorname ist ein Pflichtfeld.
        </div>

        <!-- Nachname -->
        <label class="input-label">Nachname*</label>
        <input type="text" formControlName="surname" pInputText/>
        <div class="error-message" *ngIf="registrationSubmitted && signupForm.controls['surname'].errors?.['required']">
            Nachname ist ein Pflichtfeld.
        </div>

        <!-- Email -->
        <label class="input-label">Email*</label>
        <input type="email" formControlName="email" pInputText/>
        <div class="error-message" *ngIf="registrationSubmitted && signupForm.controls['email'].errors?.['required']">
            Email
            ist ein Pflichtfeld.
        </div>
        <div class="error-message"
             *ngIf="signupForm.controls['email'].dirty && signupForm.controls['email'].errors?.['email']">Email-Format
            ist
            ungültig.
        </div>

        <!-- Username -->
        <label class="input-label">Benutzername*</label>
        <input type="text" formControlName="username" pInputText/>
        <div class="error-message"
             *ngIf="registrationSubmitted && signupForm.controls['username'].errors?.['required']">
            Nutzername ist ein
            Pflichtfeld.
        </div>

        <!-- Password -->
        <label class="input-label">Passwort*</label>
        <input type="password" formControlName="password" pInputText/>
        <div class="error-message"
             *ngIf="registrationSubmitted && signupForm.controls['password'].errors?.['required']">
            Passwort ist ein
            Pflichtfeld
        </div>

        <!-- Confirm Password -->
        <label class="input-label">Passwort Wiederholen*</label>
        <input type="password" formControlName="confirmPassword" pInputText/>
        <div class="error-message"
             *ngIf="registrationSubmitted && signupForm.controls['confirmPassword'].errors?.['required']">Passwort
            Wiederholen ist ein
            Pflichtfeld
        </div>
        <div class="error-message"
             *ngIf="signupForm.controls['confirmPassword'].dirty && signupForm.errors?.['mismatch']">
            Die Passwörter stimmen nicht
            überein
        </div>

        <!-- Toggle Button for User/Admin -->
        <label class="input-label">Berechtigung: </label>
        <p-dropdown appendTo="body" [options]="roles" formControlName="role"
                    styleClass="role-dropdown"
                    placeholder="Select a Role"></p-dropdown>

        <!-- Signup Button -->
        <div class="form-field full-width">
            <p-button label="Konto anlegen" (click)="onSignup()"></p-button>
        </div>
    </form>
</p-dialog>
