:host {
  display: flex;
  flex-direction: column;
}

.user-table {
  overflow: hidden;
}

.main-content {
  overflow: hidden;
  width: calc(100vw - 2 * var(--large-padding));
  display: flex;
  flex-direction: column;
  gap: var(--default-padding);
  height: 100%;
}


