<!-- app.component.html -->
<div class="card">
  <p-menubar [model]="(hasVisibleItems()) ? items : []" >
    <ng-template pTemplate="start">
      <!-- Clickable Logo -->
      <a routerLink="/" class="logo-link">
        <!-- Logo placeholder -->
        <img src="assets/logo.png" class="logo"/>
        <span class="name">find</span>
        <!-- <img src="logo-url" height="40" class="mr-2" /> -->
      </a>
    </ng-template>
    <ng-template pTemplate="end">
      <!-- Right-aligned elements -->
      <p-button [icon]="themeService.currentTheme() === 'light' ? 'pi pi-sun' : 'pi pi-moon'"
                styleClass="button-small"
                (click)="toggleTheme()"></p-button>
      <p-button icon="pi pi-user"
                styleClass="button-small"
                (click)="openUserProfile()"></p-button>
      <!-- TODO: ADD LINK TO LOGIN PAGE -->
    </ng-template>
  </p-menubar>
</div>

