:host {
  width: 100%;
  height: 100%;
}

.page-content {
  margin-top: var(--default-padding);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: calc(100% - var(--default-padding));
  overflow: auto;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns with equal width */
  grid-template-rows: repeat(2, 1fr); /* 2 rows with equal height */
  grid-gap: var(--large-padding); /* Replace --large-padding with actual padding size */
  width: 100%;
  height: calc(100% - var(--large-padding));
  margin-top: var(--large-padding);
}

.grid-item {
  width: 100%; /* Each grid item takes full width of its cell */
  height: 100%; /* Each grid item takes full height of its cell */
  /* Additional styling for cards */
}

::ng-deep {
  .p-card, .p-card-body, .p-card-content {
    width: 100%;
    height: 100%;
  }

  .p-card-content {
    padding: 0;
  }
}

.badgeMessage {
  font-weight: 600;
  text-align: center;
}

.chart {
  height: 400px;
  width: 100%;
}

.info-card {

}

.badge-wrapper {
  display: flex;
  justify-content: center;
}

.badge {
  max-width: 150px;
  height: auto;
}
