<!-- Header -->
<h1 class="page-header">Dashboard</h1>

<!-- Actual Content -->
<main class="page-content">
    <div class="grid-container">
        <!-- Text Card -->
        <p-card header="Advanced Card"  class="grid-item info-card">
            <p class="badgeMessage">
                {{ badgeMessage }}
            </p>
            <div class="badge-wrapper">
                <img [src]="'assets/' + badgeLevel.toLowerCase() + '.jpg'" class="badge"/>
            </div>
            <p>
                {{ badgeDescription }}
            </p>
        </p-card>

        <!-- Bar-Chart -->
        <p-card class="grid-item" header="Aktuelles vs. Geplantes Budget">
            <div id="barChart" class="chart"></div>
        </p-card>

        <!-- Candle Stick Chart -->
        <p-card class="grid-item" header="Ausgaben und Einnahmen Überblick">
            <div id="expensesCandlestickChart" class="chart"></div>
        </p-card>

        <!-- Scatter Chart Chart -->
        <p-card class="grid-item" header="Ausgaben in dieser Woche">
            <div id="scatterChart" class="chart"></div>
        </p-card>
    </div>
</main>
