<div class="card-container">
    <p-card [style]="{'max-width': '750px'}" header="Financial Dashboard">
        <p class="card-description">
            Entdecke die Einfachheit, deine Finanzen effizient und übersichtlich zu verwalten.
        </p>
        <ul class="card-features">
            <li class="list-item">Erhalte stets einen klaren Überblick über deine Finanzen mit unseren intuitiven, interaktiven Dashboards.</li>
            <li class="list-item">Erstelle detaillierte Haushaltsbücher, die mit nur einem Klick in Excel exportiert werden können.</li>
            <li class="list-item">Organisiere dein Budget und personalisiere es mit Kategorien, die deinen Bedürfnissen entsprechen.</li>
            <li class="list-item">Automatisiere deine Finanzübersicht durch die Verknüpfung deiner Konten für einen umfassenden Einblick in Einnahmen und Ausgaben.</li>
            <li class="list-item">Erhalte Belohnungen für das Erreichen deiner finanziellen Ziele und bleibe motiviert auf deinem Weg zu finanzieller Freiheit.</li>
        </ul>
        <div class="button-row">
            <p-button label="Starte mit find – Deine Reise zu finanzieller Klarheit" routerLink="/login" class="login-button"></p-button>
        </div>
    </p-card>
</div>
