:host {
  width: 100%;
  height: 100%;
}

::ng-deep {
  .p-card-title {
    color: var(--msg-purple-clr);
  }

  .p-card-content {
    padding: 0;
  }

  .list-item {
    margin-bottom: 5px;
  }
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.card-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.card-description {
  font-weight: 600;
  margin-bottom: 20px;
}

.card-features {
  list-style-type: disc;
  margin-left: 20px;
  margin-bottom: 20px;
}

.button-row {
  margin-top: var(--default-padding);
  display: flex;
  justify-content: center;
}
