.user-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-details {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.profile-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 15px;
}

.user-info h1 {
  margin: 0;
  display: flex;
  align-content: center;
  flex-direction: row;
  align-items: center;
}

.user-id {
  font-size: 18px;
  color: #666;
  margin-left: 10px;
}

.user-info p {
  margin: 5px 0;
}

.user-metrics {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.metric * {
  text-align: center;
}

.metric h3 {
  margin: 0;
  font-size: 20px;
}
